:root {
    /* Definir colores base para la página */
    --antique-white: rgb(253, 237, 220);
    --dun: rgba(192, 183, 167, 0.226);
    --cinereous: rgb(154, 125, 128);
    --chamoisee: rgb(144, 114, 95);
    --davys-gray: #50524fff;
    --wall: #d1cab8;
    --sweater: rgb(53, 54, 59);
}
/* ccs inicial, quitar el los bordes que vienen default y definir el color y fuentes de la página */
body,
html {
    z-index: 0;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--antique-white);
}
/* definir que el main sea relativo, esto hace que main sea relativo a su posicion, se utiliza 
en conjunto con el fondo de los pajaros, en el que mas abajo se define que es absoluto (que se 
mueva independiente de la jerarquia que tenga el html)*/
main {
    position: relative;
}
/* Foto de presentación junto con el nombre */
header {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header img {
    height: 200px;
    width: auto;
    border-radius: 100%;
    box-shadow: rgba(2, 2, 7, 0.582) 0px 2px 8px 0px;
}
header h1 {
    display: inline-block;
    border-radius: 1em;
    margin: 1.5em;
    padding: 0.3em 0.6em;

    font-size: 1em;
    font-weight: bold;

    color: var(--antique-white);
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}
/* Botones */
ul {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 20em;
}
ul li {
    border-radius: 10em;
    margin: 1.5em;

    background-color: var(--dun);
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}
ul li a {
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    font-size: large;
    color: var(--sweater);
}
/* opciones de la libreria vanta para añadir los pajaritos*/
#vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
}
/* Cambiar color al pasar el mouse por el botón */


/* Efecto de opacidad al iniciar la página */
#contenedorMain {
    opacity: 0;
    transition: opacity 1s ease-in;
}
#vanta{
    opacity: 0;
    transition: opacity 1s ease-in;
}

/* añadirle opacidad a las etiquetas y a los pajaros */
#vanta div:nth-child(1){
    transition-delay: 0.1s;
}
#contenedorMain header:nth-child(1){
    transition-delay: 0.1s;
}
#contenedorMain header:nth-child(2){
    transition-delay: 0.2s;
}
#contenedorMain ul:nth-child(1) {
    transition-delay: 0.3s;
}
#contenedorMain ul:nth-child(2) {
    transition-delay: 0.4s;
}
#contenedorMain ul:nth-child(3) {
    transition-delay: 0.5s;
}
#contenedorMain ul:nth-child(4) {
    transition-delay: 0.6s;
}

a:hover {
    color: var(--cinereous);
}
li:hover {
    background-color: antiquewhite;
}