:root {
    --antique-white: #fdeddcff;
    --dun: rgba(192, 183, 167, 0.226);
    --cinereous: #9a7d80ff;
    --chamoisee: #90725fff;
    --davys-gray: #50524fff;
    --wall: #d1cab8;
    --sweater: rgb(53, 54, 59);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--antique-white);
}

header {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img {
    height: 200px;
    width: auto;
    border-radius: 100%;
    box-shadow: rgba(2, 2, 7, 0.582) 0px 2px 8px 0px;
}
header h1 {
    display: inline-block;

    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    margin: 1.5em;
    padding: 0.3em 0.6em;

    color: var(--antique-white);
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0 auto;

    width: 20em;
}
ul li {
    background-color: var(--dun);

    border-radius: 10em;
    justify-content: center;

    padding: 1em;
    margin: 2em;

    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}
ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5em;
}

a {
    text-decoration: none;
    font-size: large;
    color: var(--sweater);
}
